<div class="p3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        <input type="text" [(ngModel)]="keyword">
        <button (click)="searchProducts()" class="btn btn-outline-success ms-3">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Checked</th>
            <th>Drop</th>
            <th>Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
              <button class="btn btn-outline-success" (click)="handleCheckProduct(product)">
                <i [class]="product.checked ? 'bi bi-check' : 'bi bi-circle'" ></i>
              </button>
            </td>
            <td>
              <button class="btn btn-outline-danger" (click)="handleDeleteProduct(product)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-outline-success" (click)="handleEditProduct(product)">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class=" nav nav-pills">
        <li *ngFor="let page of [].constructor(this.totalPages); let i=index">
          <button
            (click)="handleGotoPage(i+1)"
            [ngClass]="currentPage==(i+1) ? 'btn btn-success m-1' : 'btn btn-outline-success m-1'" >
            {{i+1}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
